/**
 * MODIFIED FROM THEMEFISHER TEMPLATE
 * WEBSITE: https://themefisher.com
 */

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	FastRobots Page
VERSION:	1.1
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700|Work+Sans:400,700,800");
html {
  overflow-x: hidden;
}


p {
  font-family: "Work Sans", sans-serif;
  color: #000;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Work Sans", sans-serif;
  color: #000;
  font-weight: 600;
}

h1, .h1 {
  font-size: 45px;
  text-transform: none;
}

h2, .h2 {
  font-size: 36px;
  line-height: 52px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 34px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 14px;
}

.text-sm {
  font-size: 14px;
}

.section {
  padding: 120px 0px;
}

.section-sm {
  padding: 60px 0px;
}

a {
  color: #000;
  transition: all 0.25s ease;
}
a:hover {
  color: #d8d8d8;
  text-decoration: none;
  outline: none;
}



.bg-primary {
  background: #d8d8d8 !important;
}

.bg-secondary {
  background: #f7f7f7 !important;
}

.bg-extra {
  background: #e8eefb !important;
}

.text-color {
  color: #47daff;
}

.text-color-hover{
  color: #000;
  transition: all 0.2s ease-in-out;
}
.text-color-hover:hover {
  color: #47daff;
}

.text-color-hover-light{
  color: #a5a5a5;
  transition: all 0.1s ease-in-out;
}
.text-color-hover-light:hover {
  color: #47daff;
}

/* Styling for the Lab sub-tabs within the navigation */
.tab-navigation .nav-link {
    transition: border-bottom 0.3s ease;
}

/* Secondary highlight for the current lab */
.nav-link[href="lab1.html"].active {
    color: #47daff !important;
    border-bottom: 3px solid #47daff !important;
}

.nav-link.active:not([href*="lab"]) {
    border-bottom: 3px solid white;
}